<div id="giris" >
   <div id="girisFormEkrani" class="container">
        <div id="baslik" class="col-12" style="display: flex;justify-content: center;align-items: center;">
            <h1> Giriş</h1>
        </div>
        <div class="col-12" style="display: flex;justify-content: center;align-items: center;">
            <form [formGroup]="frm" (ngSubmit)="girisYap()">
                <div class="formGiris">
                    <mat-form-field class="example-full-width">
                        <mat-label>E-Posta</mat-label>
                        <input type="email" matInput formControlName="email">
                    </mat-form-field>
                </div>
                <div class="formGiris" >
                    <mat-form-field class="example-full-width">
                        <mat-label>Şifre</mat-label>
                        <input type="password" matInput formControlName="sifre" >
                    </mat-form-field>
                </div>
                <p>Kayıt Olmak İçin <strong style="color: blue; cursor: pointer; text-decoration: underline;" (click)="kayitEkraninaGit()">Tıklayınız</strong>!</p>
                <div class="formGiris">
                    <button matButton="tonal" >Giriş Yap</button>
                </div>
            </form>
        </div>
   </div>
</div>